/* page.module.css */

/* Container principal */
.page {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  background-color: #ffffff; /*cor da borda*/
  font-family: 'Maven Pro', sans-serif;
  padding: 20px;
 height: 100vh;
 width: 100vw;
}

/* Títulos */
.titulos {
  text-align: center; /* Alinha o texto ao centro */
  background: #ffffff; /* Define a cor de fundo */
  width: 953.13px; /* Largura do elemento */
  height: 241px; /* Altura do elemento */
  top: 32px; /* Distância do topo */
  left: 30px; /* Distância da esquerda */
  gap: 0px; /* Espaçamento entre os itens (se aplicável) */
  border-radius: 20px 20px 20px 20px; /* Bordas arredondadas */
  opacity: 0px; /* Opacidade do elemento */
}

.tituloPrincipal {
  color: #79a4cf; /* Azul escuro */
  font-size: 60px; /* Aumentado para 60px */
  font-weight: bold;
  margin-bottom: 10px; /* Adicionado espaço embaixo */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra mais forte */
  transition: transform 0.3s ease; /* Efeito de transição */
}

.tituloPrincipal:hover {
  transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
}

.subtitulo {
  color: #07ff49; /* Azul mais claro */
  font-weight: 600; /* semi-bold */
  font-size: 37px;
  margin-top: 0px;
}

/* Containers de Ganhos e Gastos */
.containersTotais {
  display: flex;
  margin-top: 30px;
  gap: 40px;
  justify-content: center;
}

.gastos, .ganhos {
  background-color: #f7f2e8;
  width: 455px;
  height: 115px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Visível */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.836); /* Sombra mais suave */
  transition: transform 0.3s ease; /* Efeito de transição */
}

.gastos:hover, .ganhos:hover {
  transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}

/* Texto dentro das boxes */
.gastos p, .ganhos p {
  font-size: 24px;
  color: #F4882A; /* Cor do título */
}

.valorGanhos {
  color: #08B505; /* Cor de valor para Ganhos */
  font-weight: bold;
  font-size: 37px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra no texto */
}

.valorGastos {
  color: #F92F2F; /* Cor de valor para Gastos */
  font-weight: bold;
  font-size: 37px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra no texto */
}

/* Estilos para as mini abas */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Fundo branco para as mini abas */
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  width: 320px; /* Ajustado para ser consistente */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
}

/* Ajuste para o título nas mini abas */
.modal h3 {
  margin-bottom: 20px;
  color: #2c3e50; /* Azul escuro */
}

/* Estilos para os campos dentro da mini aba */
.field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%; /* Para ocupar a largura total */
}

.field label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #34495e; /* Azul claro */
}

.field input[type="radio"],
.field input[type="checkbox"] {
  margin-right: 10px;
}

.field input[type="text"],
.field input[type="date"],
.field textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s; /* Efeito de transição */
}

.field input[type="text"]:focus,
.field input[type="date"]:focus,
.field textarea:focus.field input[type="text"]:focus,
.field input[type="date"]:focus,
.field textarea:focus {
  border-color: #4CAF50; /* Cor verde ao focar */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Sombra verde ao focar */
}

/* Estilo para o botão de adicionar categoria */
.addCategory {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1a1103; /* Cor laranja */
  color: white;
  border: none;
  transition: background-color 0.3s; /* Efeito de transição */
}

.addCategory:hover {
  background-color: #000000; /* Cor laranja mais escura ao passar o mouse */
}

/* Estilo para inputs de valor e data */
.valorInput,
.dataInput {
  width: 100%;
}

.button {
  /* Estilos existentes para o botão */
  background-color: rgb(255, 255, 255); /* Cor de fundo escura */
  color: rgb(8, 8, 8); /* Cor do texto em branco para contraste */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Para uma transição suave */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.button:hover {
  background-color: rgb(50, 50, 50); /* Cor de fundo ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.button:hover {
  background-color: rgb(131, 134, 131); /* Cor de fundo ao passar o mouse */
}

.editButton {
  /* Estilos específicos para o botão de editar */
  background-color: orange; /* Cor de fundo padrão */
  color: white; /* Cor do texto */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Para uma transição suave */
}

.editButton:hover {
  background-color: darkorange; /* Cor de fundo ao passar o mouse */
}

.deleteButton {
  /* Estilos específicos para o botão de excluir */
  background-color: red; /* Cor de fundo padrão */
  color: white; /* Cor do texto */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Para uma transição suave */
}

.deleteButton:hover {
  background-color: darkred; /* Cor de fundo ao passar o mouse */
} 

/* A TELA DO NOVA RECEITA/DESPESA */
.modal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #f3ead8;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 250px; /* largura diminuída */
  height: 785px;
  top: 289px;
  left: 30px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

/*TITULO- NOVA RECEITA/DESPESA */
.modal h3 {
  margin-bottom: 20px;
  color: #000000; /* Azul escuro */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif ; /* Fonte mais elegante */
  font-size: 24px; /* Aumentar o tamanho da fonte */
  letter-spacing: 1px; /* Aumentar o espaçamento entre letras */
  line-height: 1.5; /* Aumentar o espaçamento entre linhas */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Adicionar sombra ao texto */
}

.titulos h1 {
  color: rgb(0, 0, 0); /* Altere para a cor desejada */
  width: 400px;
  height: 10px;
  top: 32px;
  left: 20px; /* Diminua este valor para mover mais para a esquerda */
  gap: 0px;
  opacity: 0px; 
  font-family: Arial, Helvetica, sans-serif; 
}


.titulos h2 {
  color: rgb(141, 141, 141); /* Altere para a cor desejada */
  width: 201px;
  height: 40px;
  top: 91px;
  left: 49px;
  gap: 0px;
  opacity: 0px;
  font-family: Arial, Helvetica, sans-serif ;
}
 
/* PARTE DE REGISTROS */
.container {
  margin: 20px;
  padding: 20px;
  background-color: white; /* Adicionando um fundo para destacar a tabela */
  border-radius: 10px; /* Arredondando os cantos da caixa */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicionando sombra para profundidade */
}

.title {
  font-size: 26px; /* Aumentando o tamanho da fonte */
  color: #333; /* Mudando a cor do texto para um tom mais escuro */
  margin-bottom: 15px;
  text-align: center; /* Centralizando o título */
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden; /* Para garantir que as bordas arredondadas sejam visíveis */
}

.tableHeader {
  background-color: #f3ead8;
  padding: 12px;
  text-align: left;
  font-weight: bold; /* Destacando o texto do cabeçalho */
}

.tableRow {
  border-bottom: 1px solid #f3ead8;
  transition: background-color 0.3s; /* Suavizando a transição ao passar o mouse */
}

.tableRow:hover {
  background-color: #e0e0e0; /* Cor de fundo mais clara ao passar o mouse */
}

.editButton, .deleteButton {
  margin-right: 5px;
  padding: 8px 12px; /* Aumentando o padding para botões mais confortáveis */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold; /* Destacando o texto dos botões */
  transition: background-color 0.3s; /* Suavizando a transição ao passar o mouse */
}

.editButton {
  background-color: #fa5c01; /* Laranja */
  color: #ffffff;
}

.editButton:hover {
  background-color: #e04e00; /* Cor mais escura ao passar o mouse */
}

.deleteButton {
  background-color: #f44336; /* Vermelho */
  color: #ffffff;
}

.deleteButton:hover {
  background-color: #d32f2f; /* Cor mais escura ao passar o mouse */
}